.contactForm {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  margin-top: 20px;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, #adf2f7 100%);
  border-image-slice: 1;
}

.contactInput {
  width: 350px;
  margin-bottom: 10px
}

.contactSubmit {
  width: 350px;
  text-decoration: none;
  color: #8b9bf3;
  text-align: center;
  line-height: 20px;
  display: block;
  font: normal 17px arial;
  cursor: pointer;
  border-radius: 5px;
}

.contactSubmit:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8),
    inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3),
    0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#0a06ff, #090e5c);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #3e0081;
}

.contactSubmit:not(.active):hover,
.contactSubmit:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5),
    0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
.contactSubmit:not(:hover) {
  transition: 0.6s;
}

.nameOfContactExist{
  position: absolute;
}


