.container{
    display: flex;
    flex-direction: column;
    align-items: center
}

.form {
    width: 320;
    display: flex;
    flex-direction: column;
    align-items: center
  }

.input {
    width: 500px;
    margin-bottom: 10px
}


